<!DOCTYPE html>
<html ng-app="twentySixApp">
<head>
	<meta charset="UTF-8">
	<title>	$26 In My Hand | I'm waiting for my man</title>
	<meta name="description" content="$26 In My Hand | I'm waiting for my man" >
	<meta name="author" content="$26 In My Hand">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- Bootstrap  -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- icon fonts font Awesome -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom Styles -->
	<link href="assets/css/style.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<![endif]-->

	<script type="text/javascript" src="assets/js/jquery-2.1.0.min.js"></script>

	<!-- AngularJS -->
	<script src="assets/js/angular.min.js" type="text/javascript"></script>
	<script src="assets/js/main.js" type="text/javascript"></script>
	<script src="assets/js/controllers/26.controller.js" type="text/javascript"></script>

</head>
<body ng-controller="twentySixController">



	<!-- Main Menu -->
	<div id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="navbar-header">
			<!-- responsive navigation -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button> <!-- /.navbar-toggle -->

		</div> <!-- /.navbar-header -->

		<nav class="collapse navbar-collapse">
			<!-- Main navigation -->
			<ul id="headernavigation" class="nav navbar-nav">
				<li class="active"><a href="#page-top">{{menu.m1}}</a></li>	
				<li><a href="#about">{{menu.m2}}</a></li>	
				<li><a href="#subscribe">{{menu.m3}}</a></li>	
				<li><a href="#contact">{{menu.m4}}</a></li>
				<li class="lang"><span ng-class="enBold" ng-click="toEn()">En</span>|<span ng-class="frBold" ng-click="toFr()">Fr</span></li>		
			</ul> <!-- /.nav .navbar-nav -->
		</nav> <!-- /.navbar-collapse  -->
	</div><!-- /#main-menu -->
	<!-- Main Menu End -->
	

	<!-- Page Top Section -->
	<section id="page-top" class="section-style" >
		<div class="section-background home height-resize"></div><!-- /.pattern -->		
			<div class="container">
				<h1 class="site-title">
					$26 IN MY HAND
					
				</h1><!-- /.site-title -->
				<h3 class="section-name">
				
				</h3><!-- /.section-name -->
				<h2 class="section-title">
				</h2><!-- /.Section-title  -->
			</div><!-- /.container -->
	</section><!-- /#page-top -->
	<!-- Page Top Section  End -->


	<!-- Music Section -->
	<section id="about" class="section-style">
		<div class="section-background music height-resize"></div><!-- /.pattern -->
			<div class="container">
				<h3 class="section-name">
					<span>
						<!-- Music -->
					</span>
				</h3><!-- /.section-name -->
				<h2 class="section-title">
					{{menu.m2}}
				</h2><!-- /.Section-title  -->
				<p class="section-description">
					
				</p><!-- /.section-description -->

				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
						<iframe class="yt-video" width="560" height="370" src="https://www.youtube.com/embed/yWuyOY24ayw" frameborder="0" allowfullscreen></iframe>
					</div>	
				</div>

			</div><!-- /.container -->
		
		
	</section><!-- /#about -->
	<!-- Music Section End -->



	<!-- Pictures Section -->
	<section id="subscribe" class="section-style">
		<div class="section-background pictures height-resize"></div><!-- /.pattern -->
			<div class="container">
				<h3 class="section-name">
					<span>
						<!-- Subscribe -->
					</span>
				</h3><!-- /.section-name -->
				<h2 class="section-title">
					{{menu.m3}}
				</h2><!-- /.Section-title  -->
				<div class="container">
					<div class="row">
				    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 carousel-container">
				        <div id="carousel" class="carousel slide" data-ride="carousel">
				            <div class="carousel-inner">
				                <div class="item active">
				                    <img src="assets/images/slider/1.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/2.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/3.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/4.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/5.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/6.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/7.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/8.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/9.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/10.jpg">
				                </div>
				                <div class="item">
				                    <img src="assets/images/slider/11.jpg">
				                </div>
				            </div>
				        </div> 
				    <div class="clearfix">
				        <div id="thumbcarousel" class="carousel slide" data-interval="false">
				            <div class="carousel-inner">
				                <div class="item active">
				                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="assets/images/slider/thumbs/1_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="assets/images/slider/thumbs/2_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="assets/images/slider/thumbs/3_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="assets/images/slider/thumbs/4_th.jpg"></div>
				                </div><!-- /item -->
				                <div class="item">
				                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="assets/images/slider/thumbs/5_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="assets/images/slider/thumbs/6_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="assets/images/slider/thumbs/7_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="assets/images/slider/thumbs/8_th.jpg"></div>
				                </div><!-- /item -->
				                <div class="item">
				                    <div data-target="#carousel" data-slide-to="8" class="thumb"><img src="assets/images/slider/thumbs/9_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="9" class="thumb"><img src="assets/images/slider/thumbs/10_th.jpg"></div>
				                    <div data-target="#carousel" data-slide-to="10" class="thumb"><img src="assets/images/slider/thumbs/11_th.jpg"></div>
				                </div><!-- /item -->
				            </div><!-- /carousel-inner -->
				            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
				                <span class="glyphicon glyphicon-chevron-left"></span>
				            </a>
				            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
				                <span class="glyphicon glyphicon-chevron-right"></span>
				            </a>
				        </div> <!-- /thumbcarousel -->
				    </div><!-- /clearfix -->
				    </div> <!-- /col-sm-6 -->
				    </div> <!-- /row -->
				</div><!-- /.container -->
			</div><!-- /.container -->

		</section><!-- /#subscribe -->
		<!-- Subscribe Section End -->



		<!-- ABOUT Section -->
		<section id="contact" class="section-style" >
			<div class="section-background about height-resize"></div><!-- /.pattern -->
				<div class="container">
					<h3 class="section-name">
						<span>
							
						</span>
					</h3><!-- /.section-name -->
					<h2 class="section-title">
						{{menu.m4}}
 					</h2><!-- /.Section-title  -->
					<p class="section-description" ng-repeat="p in paragraph">
						{{p}}
					</p><!-- /.section-description -->

					<div class="social-btn-container">
					<span class="social-btn-box">
						<a href="https://www.facebook.com/26DollarsInMyHand" class="facebook-btn" target="_blank">
							<i class="fa fa-facebook"></i></a>
						</span><!-- /.social-btn-box -->

						<span class="social-btn-box">
							<a href="https://twitter.com/26dollars" class="twitter-btn" target="_blank"><i class="fa fa-twitter"></i></a>
						</span><!-- /.social-btn-box -->

						<span class="social-btn-box">
							<a href="https://www.youtube.com/user/26dollarsinmyhand" class="youtube-btn" target="_blank"><i class="fa fa-youtube"></i></a>
						</span><!-- /.social-btn-box -->

						<span class="social-btn-box">
							<a href="mailto:26dollarsinmyhand@gmail.com" class="mail-btn"><i class="fa fa-envelope"></i></a>
						</span><!-- /.social-btn-box -->
					</div><!-- /.social-btn-container -->

				</div><!-- /.container -->

		</section><!-- /#contact -->
		<!-- Contact Section End -->



		<!-- Footer Section -->
		<!-- <footer id="footer-section">
			<p class="copyright">

			</p>
		</footer> -->
		<!-- Footer Section End -->


		<!-- jQuery Library -->
		<!-- Modernizr js -->
		<script type="text/javascript" src="assets/js/modernizr-2.8.0.min.js"></script>
		<!-- Plugins -->
		<script type="text/javascript" src="assets/js/plugins.js"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="assets/js/functions.js"></script>

		  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


	</body>
	</html>
